@include url("reset.css");

/* text sizes */

body, span, p {
	font-size: 1em;
}

header h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

/* styles */

body {
	width: 960px;
	margin: 0 auto;
	color: #111;
}

header {
	display: block;
	width: 100%;
	overflow: none;
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid;
	vertical-align: bottom;
}

h1 {
	display: inline;
	position: relative;
	width: auto;
}

nav {
	display: inline;
	float: right;
	vertical-align: bottom;
}

nav ul {
	list-style: none;
}

nav ul li {
	float: left;
	margin-left: 1em;
	line-height: normal;
}

nav a {
	color: grey;
	text-decoration: none;
}

nav a:hover {
	color: skyblue;
}

.main-blog {
	width: 50%;
	float: left;
}

.main-blog ul,
.blog ul {
	padding-left: 0;
	list-style: none;
}

.main-links {
	width: 50%;
	float: left;
}

h3 a {
	color: #555555;
}

footer {
	position: fixed;
	bottom: 0;
}