---
layout: default
---
<section class="main-about">
  <h3>About</h3>
  <p>I'm an otaku gamer coder, or something. This is my site.</p>
</section>
<section class="main-blog">
  <h3>Blog</h3>
  <ul>
		{% for post in site.posts limit:10 %}
    <li>
    	<div class="post-preview">
      	<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    	  <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
					{{ post.content | split:'<!--break-->' | first }}
					{% if post.content contains '<!--break-->' %}
        		<a href="{{ post.url }}">read more</a>
					{% endif %}
      </div>
    </li>
		{% endfor %}
  </ul>
</section>
<section class="main-links">
  <h3>Links</h3>
  <ul>
    <li><a href="http://hummingbird.me/users/4890-sauyon">My Hummingbird Profile</a> (It's similar to MAL)</li>
    <li><a href="https://github.com/Sauyon">My Github profile</a></li>
    <li>Projects I've worked on:
      <ul>
        <li><a href="http://dev.verdemagazine.com">Verde website</a></li>
      </ul>
    </li>
  </ul>
</section>