---
layout: default
---
<section>
  <h2>Blog</h2>
</section>
<section class="post-list">
  <ul>
		{% for post in site.posts limit:10 %}
    	<li>
    		<div class="post-preview">
      		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    	    <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
					{{ post.content | split:'<!--break-->' | first }}
					{% if post.content contains '<!--break-->' %}
        		<a href="{{ post.url }}">read more</a>
					{% endif %}
        </div>
      </li>
		{% endfor %}
  </ul>
</section>